<!doctype html>
<title> Welcome| MiniTwit </title>
<head>
  <link rel=stylesheet type=text/css href="/css/style.css">

</head>
<body>
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  {{ if .IsLoggedIn }}
  <a href="">my timeline</a> |
  <a href="/public" >public timeline</a> |
  <a href="/logout">sign out {{ .Username }} </a>
  {{ else }}
  <a href="/public">public timeline</a> |
  <a href="/register">sign up</a> |
  <a href="/login">sign in</a href="/login">
  {{ endif }}
  </div>
  <div class=body>
  </div>
  <div class=footer>
    MiniTwit &mdash; A Gorilla Application
  </div>
</div>
</body>

