<!doctype html>
<title>Welcome| MiniTwit</title>
<head>
  <link rel=stylesheet type=text/css href="/css/style.css">

</head>
<body>
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
{{ if .IsLoggedIn }}
    {{- $usernamepath := .SessionUser -}}
    <a href={{$usernamepath}}>my timeline</a> |
    <a href="/public" >public timeline</a> |
    <a href="/logout">sign out {{ .Username }}</a>
{{ else }}
    <a href="/public">public timeline</a> |
    <a href="/register">sign up</a> |
    <a href="/login">sign in</a href="/login">
{{end}}
  </div>
  
  <div class=body>




<h2>
  {{ if eq "public_timeline" .RequestEndpoint }}
    Public Timeline
  {{ else if eq "user_timeline" .RequestEndpoint}}
    {{ .username }}'s Timeline
  {{ else }}
    My Timeline
  {{ end }}
 </h2>


  <h2>{{ .Title }}</h2>
  {{ if .IsLoggedIn }}
    {{ if eq .RequestEndpoint "user_timeline" }}
      <div class=followstatus>
      {{ if eq .Username .UserProfile }}
        This is you!
      {{ else if .Followed }}
        You are currently following this user.
        <a class=unfollow href="/{{.UserProfile}}/unfollow, username=.UserProfile)
          }}">Unfollow user</a>.
      {{ else }}
        You are not yet following this user.
        <a class=follow href="/{{.SessionUser}}/follow, username=.SessionUser)
          }}">Follow user</a>.
      {{ end }}
      </div>
    {{ else if eq .RequestEndpoint "timeline" }}
      <div class=twitbox>
        <h3>What's on your mind {{ .Username }}?</h3>
        <form action=" /add_message" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
    {{ end }}
  {{ end }}

  

  <ul class=messages>
    {{ if gt (len .Messages) 0}}
      {{range .Messages}}
        <li>
          {{/* <img src={{.gravatar_url}}> */}}
          <strong>
            {{/*<a href="{{ url_for('user_timeline', username=message.username)}}">{{ message.username }}</a>*/}}
            <a href="">{{ .Username }}</a>
          </strong>
          {{ .Text }}
          <small>&mdash; {{ .Pub_date}}</small>
        </li>
      {{end}}
    {{else}}
    <em>There's no message so far.</em>
    {{end}}
  </ul>


</div>
<div class=footer>
  MiniTwit &mdash; A Golang Application
</div>
</div>
</body>